<!DOCTYPE html>
<html lang="zh">
<head>
    {include file="../application/common/view/web/agent/head.html" title=" - 订单管理"}
    <style>
        input[type=text].show-mch-no {
            border: none;
            background-color: transparent;
            width: 83px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    </style>
</head>
<!-- begin::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
    <!-- BEGIN: Header -->
    {include file="../application/common/view/web/agent/header.html"}
    <!-- END: Header -->
    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <!-- BEGIN: Left Aside -->
        {include file="../application/common/view/web/agent/left.html"}
        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title m-subheader__title--separator">设备管理</h3>
                        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                            <li class="m-nav__item m-nav__item--home">
                                <a href="{:url('Index/index')}" class="m-nav__link m-nav__link--icon">
                                    <i class="m-nav__link-icon la la-home"></i>
                                </a>
                            </li>
                            <li class="m-nav__separator">-</li>
                            <li class="m-nav__item">
                                <a href="{:url('Machine/index')}" class="m-nav__link">
                                    <span class="m-nav__link-text">设备管理</span>
                                </a>
                            </li>
                            <li class="m-nav__separator">-</li>
                            <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                    <span class="m-nav__link-text">设备列表</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m-content">
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">设备列表</h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <form action="" method="get" class="form-inline ">
                                <div class="form-group mr-2">
                                    <input type="text" name="code" id="code" class="form-control form-control-sm m-input--solid"  value="{$Think.get.code}" placeholder="设备号">
                                </div>
                                <div class="form-group mr-2">
                                    <select class="form-control form-control-sm m-input--solid" id="rep_id" name="rep_id">
                                        <option value="0">投放场地</option>
                                        {volist name="rep_list" id="rep"}
                                        <option value="{$rep.rep_id}">{$rep.rep_name}</option>
                                        {/volist}
                                    </select>
                                </div>
                                <div class="form-group mr-2" style="display: none">
                                    <select class="form-control form-control-sm m-input--solid" id="status" name="status">
                                        <option value="0">状态</option>
                                        <option value="1">使用中</option>
                                        <option value="2">已禁用</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-info btn-sm" name="supplier_mobile" value="搜索">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="dataTables_wrapper">
                            <table class="table table-striped- table-bordered table-hover table-checkable"
                                   id="m_table_1">
                                <thead>
                                <tr>
                                    <th class="text-center">设备名称</th>
                                    <th class="text-center">设备号</th>
                                    <th class="text-center">设备加盟商</th>
                                    <th class="text-center">投放场地</th>
                                    <th class="text-center">设备状态</th>
                                    <th class="text-center">类型创建时间</th>
                                    <th class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="machine_list" id="vo"}
                                <tr>
                                    <td class="text-middle">{$vo.machine_name}</td>
                                    <td class="text-middle">{$vo.machine_code}</td>
                                    <td class="text-middle">{$vo.agent_name|default='暂无'}</td>
                                    <td class="text-middle">{$vo.rep_name}</td>
                                    <td class="text-center"> {switch name='vo.machine_online'}
                                        {case value="1"}<span class="m-badge  m-badge--success m-badge--wide">在线</span> {/case}
                                        {case value="2"}<span class="m-badge  m-badge--metal m-badge--wide">离线</span>  {/case}
                                        {/switch}
                                    </td>
                                    <td class="text-center">{$vo.machine_createTime}</td>
                                    <td class="text-center">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <!--<a href="{:url('editMachine',['machine_id'=>$vo['machine_id']])}"-->
                                                   <!--class="btn btn-primary m-btn m-btn&#45;&#45;custom btn-sm">-->
                                                    <!--<span class="am-icon-pencil-square-o"></span> 编辑-->
                                                <!--</a>-->

                                                <a href="{:url('machineChannel',['machine_id'=>$vo['machine_id']])}"
                                                   class="btn btn-info m-btn--wide btn-sm">
                                                    <span class="am-icon-pencil-square-o"></span> 货道详情
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                            <div class="dataTables_pager">
                                <div class="dataTables_paginate paging_simple_numbers">{$machine_list->render()}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end:: Body -->
    <!-- begin::Footer -->
    {include file="../application/common/view/web/agent/footer.html"}
    <!-- end::Footer -->
</div>
<!-- end:: Page -->
{include file="../application/common/view/web/agent/foot.html"}
</body>
<!-- end::Body -->
</html>
<script>
    setValue("rep_id","{$rep_id}");
    nav_url = "{:url('Machine/index')}";
</script>