<!DOCTYPE html>
<html lang="zh">
<head>
    {include file="../application/common/view/web/head.html" title=" - 首页"}
    <!--begin::Page Vendors Styles -->
    <link href="/resource/web/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet"
          type="text/css"/>
    <script src="/resource/web/assets/app/js/echarts.min.js"></script>
    <script src="/resource/web/assets/app/js/macarons.js"></script>
</head>
<!-- begin::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
    <!-- BEGIN: Header -->
    {include file="../application/common/view/web/header.html"}
    <!-- END: Header -->
    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <!-- BEGIN: Left Aside -->
        {include file="../application/common/view/web/left.html"}
        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <div class="m-content">
                <div class="m-portlet mb-0">
                    <div class="m-portlet__body  m-portlet__body--no-padding">
                        <div class="row m-row--no-padding m-row--col-separator-xl">
                            <div class="col-xl-4">
                                <div class="m-widget1">
                                    <div class="m-widget1__item">
                                        <div class="row m-row--no-padding align-items-center">
                                            <div class="col">
                                                <h3 class="m-widget1__title">机器总数</h3>
                                            </div>
                                            <div class="col m--align-right">
                                                <span class="m-widget1__number m--font-brand">{$machine_sum|default="0"}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-widget1__item">
                                        <div class="row m-row--no-padding align-items-center">
                                            <div class="col">
                                                <h3 class="m-widget1__title">在线机器</h3>
                                            </div>
                                            <div class="col m--align-right">
                                                <span class="m-widget1__number m--font-danger">{$machine_onLine_sum|default="0"}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-widget1__item">
                                        <div class="row m-row--no-padding align-items-center">
                                            <div class="col">
                                                <h3 class="m-widget1__title">今日订单</h3>
                                            </div>
                                            <div class="col m--align-right">
                                                <span class="m-widget1__number m--font-success">{$orders_count|default="0"}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="m-portlet m-portlet--head-overlay   m-portlet--rounded-force mb-0">
                                    <div class="m-portlet__head m-portlet__head--fit-">
                                        <div class="m-portlet__head-caption">
                                            <div class="m-portlet__head-title">
                                                <h3 class="m-portlet__head-text m--font-light">
                                                    今日销售
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-portlet__body pb-0">
                                        <div class="m-widget27 m-portlet-fit--sides">
                                            <div class="m-widget27__pic">
                                                <img src="/resource/web/assets/app/media/img/bg/bg-4.jpg">
                                                <h3 class="m-widget27__title m--font-light">
                                                    <span><span>$</span>{$machine_market_sum|default="0.00"}</span>
                                                </h3>
                                                <div class="m-widget27__btn">
                                                    <button type="button"
                                                            class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--bolder">
                                                        查看订单
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="m-widget14">
                                    <div class="row  align-items-center">
                                        <div class="col col-md-6">
                                            <div id="today_orders" class="m-widget14__chart" style="height: 160px">
                                            </div>
                                            <script>
                                                echarts.init(document.getElementById('today_orders')).setOption({
                                                    tooltip: {
                                                        trigger: 'item',
                                                        formatter: "{a} <br/>{b}: {c} ({d}%)"
                                                    },
                                                    legend: {
                                                        show:false,
                                                        orient: 'vertical',
                                                        x: 'left',
                                                        data:['销售总金额','销售金额（无退款）','退款订单数','退款金额']
                                                    },
                                                    series: [
                                                        {
                                                            name:'销售统计',
                                                            type:'pie',
                                                            radius: ['40%', '80%'],
                                                            avoidLabelOverlap: false,
                                                            label: {
                                                                normal: {
                                                                    show: false,
                                                                    position: 'center'
                                                                },
                                                                emphasis: {
                                                                    show: true,
                                                                    textStyle: {
                                                                        fontSize: '6',
                                                                        fontWeight: 'bold'
                                                                    }
                                                                }
                                                            },
                                                            labelLine: {
                                                                normal: {
                                                                    show: false
                                                                }
                                                            },
                                                            itemStyle: {
                                                                normal: {
                                                                    shadowBlur: 10,
                                                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                                                }
                                                            },
                                                            color:['#00c5dc','#ffb822','#f4516c','#716aca'],
                                                            data:[
                                                                {value:335, name:'销售总金额'},
                                                                {value:310, name:'销售金额（无退款）'},
                                                                {value:2, name:'退款订单数'},
                                                                {value:234, name:'退款金额'},
                                                            ]
                                                        }
                                                    ]
                                                });
                                            </script>
                                        </div>
                                        <div class="col col-md-6">
                                            <div class="m-widget14__legends">
                                                <div class="m-widget14__legend">
                                                    <span class="m-widget14__legend-bullet m--bg-accent"></span>
                                                    <span class="m-widget14__legend-text" style="font-size: 0.8rem;">{$orders_data_list.all|default="0"} 销售总金额</span>
                                                </div>
                                                <div class="m-widget14__legend">
                                                    <span class="m-widget14__legend-bullet m--bg-warning"></span>
                                                    <span class="m-widget14__legend-text" style="font-size: 0.8rem;">{$orders_data_list.money|default="0"} 销售<smalls>(无退款)</smalls></span>
                                                </div>
                                                <div class="m-widget14__legend">
                                                    <span class="m-widget14__legend-bullet m--bg-danger"></span>
                                                    <span class="m-widget14__legend-text" style="font-size: 0.8rem;">{$orders_data_list.refund_count|default="0"} 退款订单数</span>
                                                </div>
                                                <div class="m-widget14__legend">
                                                    <span class="m-widget14__legend-bullet m--bg-brand"></span>
                                                    <span class="m-widget14__legend-text" style="font-size: 0.8rem;">{$orders_data_list.refund_money|default="0"} 退款金额</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-content pt-0 pb-0">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="m-portlet">
                            <div class="m-portlet__head text-center pl-3">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <span class="m-portlet__head-icon"></span>
                                        <h3 class="m-portlet__head-text"><i class="fa fa-hand-o-right mr-3 m--font-primary"></i> 近7天销售</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body  m--padding-20 text-center">
                                <div id="orders_7" style="width: 100%;height: 350px;"></div>
                                <script>
                                    echarts.init(document.getElementById('orders_7')).setOption({
                                        tooltip: {
                                            trigger: 'axis'
                                        },
                                        // legend: {
                                        //     show:false,
                                        //     data:['邮件营销','联盟广告','视频广告','直接访问','搜索引擎']
                                        // },
                                        grid: {
                                            top: '3%',
                                            left: '3%',
                                            right: '5%',
                                            bottom: '3%',
                                            containLabel: true
                                        },
                                        toolbox: {
                                            feature: {
                                                saveAsImage: {}
                                            }
                                        },
                                        xAxis: {
                                            type: 'category',
                                            boundaryGap: false,
                                            data: [{volist name="$date" id="vo"}'{$vo}',{/volist}]
                                        },
                                        yAxis: {
                                            type: 'value'
                                        },
                                        series: [
                                            {
                                                name:'邮件营销',
                                                type:'line',
                                                stack: '总量',
                                                data:[{volist name="$date_data" id="vo"}{$vo},{/volist}]
                                            },
                                        ]
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="m-portlet">
                            <div class="m-portlet__head text-center pl-3">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <span class="m-portlet__head-icon"></span>
                                        <h3 class="m-portlet__head-text"><i class="fa fa-hand-o-right mr-3 m--font-primary"></i>  昨天商品排名(TOP 50)</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body  m--padding-20 text-center">
                                <div id="goods_list" class="" style="width: 100%;height: 350px;overflow-x: hidden;">
                                    <table class="table table-striped- table-bordered table-hover table-checkable">
                                        <thead>
                                        <tr>
                                            <th class="text-center">排名</th>
                                            <th class="text-center">商品名</th>
                                            <th class="text-center">价格</th>
                                            <th class="text-center">销量</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="$goods_orders" id="vo" key="key"}
                                        <tr>
                                            <td class="text-middle">{$key}</td>
                                            <td class="text-middle text-overflow">{$vo.goods_name}</td>
                                            <td class="text-middle">{$vo.o_money}</td>
                                            <td class="text-middle">{$vo.count}</td>
                                        </tr>
                                        {/volist}
                                        {empty name="$goods_orders"} <tr><td colspan="4" class="noDataHeight" style="height: 297px;">没有数据</td></tr> {/empty}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="m-portlet">
                            <div class="m-portlet__head text-center pl-3">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <span class="m-portlet__head-icon"></span>
                                        <h3 class="m-portlet__head-text"><i class="fa fa-hand-o-right mr-3 m--font-primary"></i> 昨天加盟商排名(TOP 50)</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body  m--padding-20 text-center">
                                <div id="analyze" class="" style="width: 100%;height: 350px;overflow-x: hidden;">
                                    <table class="table table-striped- table-bordered table-hover table-checkable">
                                        <thead>
                                        <tr>
                                            <th class="text-center">排名</th>
                                            <th class="text-center text-overflow">加盟商名称</th>
                                            <th class="text-center">销量</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="$agent_orders" id="vo" key="key"}
                                        <tr>
                                            <td class="text-middle">{$key}</td>
                                            <td class="text-middle">{$vo.agent_name}</td>
                                            <td class="text-middle">{$vo.count}</td>
                                        </tr>
                                        {/volist}
                                        {empty name="$agent_orders"} <tr><td colspan="3" class="noDataHeight" style="height: 297px;">没有数据</td></tr> {/empty}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Subheader -->
        </div>
    </div>
    <!-- end:: Body -->
    <!-- begin::Footer -->
    {include file="../application/common/view/web/footer.html"}
    <!-- end::Footer -->
</div>
<!-- end:: Page -->
{include file="../application/common/view/web/foot.html"}
<!--begin::Page Vendors -->
<script src="/resource/web/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
<!--end::Page Vendors -->
<!--begin::Page Scripts -->
<script src="/resource/web/assets/app/js/dashboard.js" type="text/javascript"></script>
<!--end::Page Scripts -->
</body>
<!-- end::Body -->
</html>
<script>
    nav_url = "{:url('index/index')}";
</script>