<!DOCTYPE html>
<html lang="zh">
<head>
    {include file="../application/common/view/web/head.html" title=" - 商品管理"}
    <style>
        input[type=text].show-mch-no {
            border: none;
            background-color: transparent;
            width: 83px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    </style>
</head>
<!-- begin::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
    <!-- BEGIN: Header -->
    {include file="../application/common/view/web/header.html"}
    <!-- END: Header -->
    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <!-- BEGIN: Left Aside -->
        {include file="../application/common/view/web/left.html"}
        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title m-subheader__title--separator">商品管理</h3>
                        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                            <li class="m-nav__item m-nav__item--home">
                                <a href="{:url('Index/index')}" class="m-nav__link m-nav__link--icon">
                                    <i class="m-nav__link-icon la la-home"></i>
                                </a>
                            </li>
                            <li class="m-nav__separator">-</li>
                            <li class="m-nav__item">
                                <a href="{:url('Orders/index')}" class="m-nav__link">
                                    <span class="m-nav__link-text">商品管理</span>
                                </a>
                            </li>
                            <li class="m-nav__separator">-</li>
                            <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                    <span class="m-nav__link-text">商品库列表</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m-content">
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
<!--                            <a href="{:url('create_goods')}" class="btn btn-info m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;wide m-btn&#45;&#45;sm m&#45;&#45;margin-right-10">-->
<!--                                <span>-->
<!--                                    <i class="fa fa-plus"></i>-->
<!--                                    <span>创建商品</span>-->
<!--                                </span>-->
<!--                            </a>-->
                        </div>
                        <div class="m-portlet__head-tools">
                            <form action="" method="get" class="form-inline ">
                                <div class="form-group mr-2">
                                    <input type="text" class="form-control form-control-sm" name="goods_name" value="{$Think.get.goods_name}" placeholder="商品名称">
                                </div>
                                <div class="form-group mr-2">
                                    <input type="text" class="form-control form-control-sm" name="goods_id" value="{$Think.get.goods_id}" placeholder="商品ID">
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-info btn-sm" name="supplier_mobile" value="搜索">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="dataTables_wrapper">
                            <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                                <thead>
                                <tr>
                                    <th class="text-center">商品ID</th>
                                    <th class="text-center">商品名称</th>
                                    <th class="text-center">商品图片</th>
                                    <th class="text-center">商品价格</th>
                                    <th class="text-center">商品描述</th>
                                    <th class="text-center">状态</th>
                                    <th class="text-center">创建时间</th>
                                    <th class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="$goods_list" id="vo"}
                                <tr class="">
                                    <td class="text-middle text-center">{$vo.goods_id}</td>
                                    <td class="text-middle">{$vo.goods_name}
                                        {eq name="$vo.goods_type" value=""}
                                        {else/}
                                        <span style="color: red">({$vo.goods_type})</span>
                                        {/eq}
                                    </td>
                                    <td class="text-middle text-center"><img src="{$vo.goods_pic}" alt="商品图" width="30px" height="30px"></td>
                                    <td class="text-middle">{$vo.goods_price}</td>
                                    <td class="text-middle">{$vo.goods_desc}</td>
                                    <td class="text-middle text-center">
                                        {switch name="$vo.goods_status"}
                                        {case value="1"}<span class="text-success">在售</span>{/case}
                                        {case value="2"}<span class="text-danger">已下架</span>{/case}
                                        {/switch}
                                    </td>
                                    <td class="text-middle">{$vo.goods_createTime}</td>
                                    <td class="text-middle">
                                        <div class="btn-toolbar">
                                            <div class="btn-group btn-group-sm">
                                                <a href="{:url('edit_goods',['goods_id'=>$vo['goods_id']])}"
                                                   class="btn btn-info">
                                                    <span class="fa fa-pencil-square-o"></span> 编辑
                                                </a>
                                                {switch name="$vo.goods_status"}
                                                {case value="1"}
                                                <a onclick="down_goods('{$vo.goods_id}')"
                                                   class="btn btn-warning">
                                                    <span class="fa fa-cloud-download text-danger"></span> 下架
                                                </a>{/case}
                                                {case value="2"}
                                                <a onclick="up_goods('{$vo.goods_id}')"
                                                   class="btn btn-warning">
                                                    <span class="fa fa-cloud-upload"></span> 上架
                                                </a>
                                                <a onclick="del_goods('{$vo.goods_id}')"
                                                   class="btn btn-danger">
                                                    <span class="fa fa-trash-o"></span> 删除
                                                </a>
                                                {/case}
                                                {/switch}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                            <div class="dataTables_pager">
                                <div class="dataTables_paginate paging_simple_numbers">{$goods_list->render()}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Body -->
    <!-- begin::Footer -->
    {include file="../application/common/view/web/footer.html"}
    <!-- end::Footer -->
</div>
<!-- end:: Page -->
{include file="../application/common/view/web/foot.html"}
</body>
<!-- end::Body -->
</html>
<script>
    nav_url = "{:url('agentgoods/index')}";

    /**
     * 下架
     */
    function down_goods(id) {
        submit_form({
            url: '{:url("downGoods")}',
            data: {goods_id:id},
            fun: function (res) {
                if(res.state == 200){
                    Swal.fire({
                        title: res.msg,
                        type:'success',
                        timer: 2000,
                        onClose: () => {
                            window.location.href = '{:url("index")}';
                        }
                    });
                }else{
                    Swal.fire({
                        title: res.msg,
                        type:'error',
                    });
                }
            }
        });
    }

    /**
     * 上架
     */
    function up_goods(id) {
        submit_form({
            url: '{:url("upGoods")}',
            data: {goods_id:id},
            fun: function (res) {
                if(res.state == 200){
                    Swal.fire({
                        title: res.msg,
                        type:'success',
                        timer: 2000,
                        onClose: () => {
                            window.location.href = '{:url("index")}';
                        }
                    });
                }else{
                    Swal.fire({
                        title: res.msg,
                        type:'error',
                    });
                }
            }
        });
    }


    /**
     * 删除
     */
    function del_goods(id) {
        Swal.fire({
            title: '你确定要删除吗?',
            text: "删除后无法恢复！",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '确定',
            cancelButtonText: '取消',
        }).then((result) => {
            if (result.value) {
                submit_form({
                    url: '{:url("delGoods")}',
                    data: {goods_id:id},
                    fun: function (res) {
                        if(res.state == 200){
                            Swal.fire({
                                title: res.msg,
                                type:'success',
                                timer: 2000,
                                onClose: () => {
                                    window.location.href = '{:url("index")}';
                                }
                            });
                        }else{
                            Swal.fire({
                                title: res.msg,
                                type:'error',
                            });
                        }
                    }
                });
            }
        });
        return false;
    }
</script>