<!DOCTYPE html>
<html lang="zh">
<head>
    {include file="../application/common/view/web/head.html" title=" - 活动管理"}
</head>
<!-- begin::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
    <!-- BEGIN: Header -->
    {include file="../application/common/view/web/header.html"}
    <!-- END: Header -->
    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <!-- BEGIN: Left Aside -->
        {include file="../application/common/view/web/left.html"}
        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title m-subheader__title--separator">活动管理</h3>
                        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                            <li class="m-nav__item m-nav__item--home">
                                <a href="{:url('Index/index')}" class="m-nav__link m-nav__link--icon">
                                    <i class="m-nav__link-icon la la-home"></i>
                                </a>
                            </li>
                            <li class="m-nav__separator">-</li>
                            <li class="m-nav__item">
                                <a href="{:url('Activity/index')}" class="m-nav__link">
                                    <span class="m-nav__link-text">活动管理</span>
                                </a>
                            </li>
                            <li class="m-nav__separator">-</li>
                            <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                    <span class="m-nav__link-text">活动列表</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m-content">
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <a href="{:url('createActivity')}"
                               class="btn btn-info m-btn m-btn--icon m-btn--wide m-btn--sm m--margin-right-10">
                                <span>
                                    <i class="fa fa-plus"></i>
                                    <span>添加活动</span>
                                </span>
                            </a>
                        </div>
                        <div class="m-portlet__head-tools">
                            <form action="" method="get" class="form-inline ">
                                <div class="form-group mr-2">
                                    <input type="text" class="form-control form-control-sm" name="activity_name"
                                           value="{$Think.get.activity_name}" placeholder="活动名称">
                                </div>
                                <div class="form-group mr-2">
                                    <input type="text" class="form-control form-control-sm" name="agent_name"
                                           value="{$Think.get.agent_name}" placeholder="加盟商名称">
                                </div>
                                <div class="form-group mr-2">
                                    <input type="text" class="form-control form-control-sm" name="agent_id"
                                           value="{$Think.get.agent_id}" placeholder="加盟商ID">
                                </div>
                                <div class="form-group mr-2">
                                    <select class="form-control form-control-sm" name="status">
                                        <option value="0">活动状态</option>
                                        <option value="1" {if condition="$Think.get.status == 1"}selected{/if}>上架中</option>
                                        <option value="2" {if condition="$Think.get.status == 2"}selected{/if}>下架中</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-info btn-sm" value="搜索">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="dataTables_wrapper">
                            <table class="table table-striped- table-bordered table-hover table-checkable {empty name='$activityList'}noDataHeight-table{/empty}"
                                   id="m_table_1">
                                <thead>
                                <tr>
                                    <th class="text-center">活动ID</th>
                                    <th class="text-center">活动名称</th>
                                    <th class="text-center">活动商品</th>
                                    <th class="text-center">活动加盟商</th>
                                    <th class="text-center">开始时间</th>
                                    <th class="text-center">结束时间</th>
                                    <th class="text-center">状态</th>
                                    <th class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="$activityList" id="vo"}
                                <tr class="">
                                    <td class="text-middle text-center">{$vo.activity_id}</td>
                                    <td class="text-middle text-center">{$vo.activity_name}</td>
                                    <td class="text-middle text-center">{$vo.goods_name}</td>
                                    <td class="text-middle text-center">{$vo.agent_name}</td>
                                    <td class="text-middle text-center">{$vo.activity_start}</td>
                                    <td class="text-middle text-center">{$vo.activity_end}</td>
                                    <td class="text-middle text-center">
                                        {switch name="$vo.activity_status"}
                                        {case value="1"}<span class="m-badge m-badge--success m-badge--wide">上架中</span>{/case}
                                        {case value="2"}<span class="m-badge m-badge--danger m-badge--wide">下架中</span>{/case}
                                        {/switch}
                                    </td>
                                    <td class="text-middle text-center" nowrap="">
                                        <span class="dropdown">
                                            <a href="#"
                                               class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                                               data-toggle="dropdown" aria-expanded="false">
                                              <i class="la la-ellipsis-h"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="{:url('userCouponlist',['activity_id'=>$vo.activity_id])}"><i class="fa fa-list"></i> 领取详情</a>
                                                <a class="dropdown-item" href="{:url('activityCouponList',['activity_id'=>$vo.activity_id])}"><i class="fa fa-list-ul"></i> 活动详细</a>
                                                {switch name="$vo.activity_status"}
                                                {case value="1"}
                                                <a class="dropdown-item" onclick="disabledActivity('{$vo.activity_id}')"><i
                                                        class="fa fa-refresh text-danger"></i> 下架</a>
                                                {/case}
                                                {case value="2"}
                                                <a class="dropdown-item" onclick="changeStatus('{$vo.activity_id}')"><span
                                                        class="fa fa-refresh"></span> 上架</a>
                                                {/case}
                                                {/switch}
                                            </div>
                                        </span>
                                        <a href="{:url('editActivity',['activity_id'=>$vo.activity_id])}"
                                           class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                                           title="编辑">
                                            <i class="la la-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                            <div class="noDataHeight">没有数据</div>
                            <div class="dataTables_pager">
                                <div class="dataTables_paginate paging_simple_numbers">{$activityList->render()}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Body -->
    <!-- begin::Footer -->
    {include file="../application/common/view/web/footer.html"}
    <!-- end::Footer -->
</div>
<!-- end:: Page -->
{include file="../application/common/view/web/foot.html"}
</body>
<!-- end::Body -->
</html>
<script>
    nav_url = "{:url('Activity/index')}";

    // 下架
    function disabledActivity(id) {
        submit_form({
            url: '{:url("disabledActivity")}',
            data: {supplier_id: id},
            fun: function (res) {
                if (res.state == 200) {
                    Swal.fire({
                        title: res.msg,
                        type: 'success',
                        timer: 2000,
                        onClose: () => {
                            window.location.reload();
                        }
                    });
                } else {
                    Swal.fire({
                        title: res.msg,
                        type: 'error',
                    });
                }
            }
        });
    }

    // 上架
    function enabledActivity(id) {
        submit_form({
            url: '{:url("change_status")}',
            data: {supplier_id: id},
            fun: function (res) {
                if (res.state == 200) {
                    Swal.fire({
                        title: res.msg,
                        type: 'success',
                        timer: 2000,
                        onClose: () => {
                            window.location.reload();
                        }
                    });
                } else {
                    Swal.fire({
                        title: res.msg,
                        type: 'error',
                    });
                }
            }
        });
    }

    // 删除
    function delActivity(id) {
        Swal.fire({
            title: '你确定要删除吗?',
            text: "删除后无法恢复！",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '确定',
            cancelButtonText: '取消',
        }).then((result) => {
            if (result.value) {
                submit_form({
                    url: '{:url("del_supplier")}',
                    data: {supplier_id: id},
                    fun: function (res) {
                        if (res.state == 200) {
                            Swal.fire({
                                title: res.msg,
                                type: 'success',
                                timer: 2000,
                                onClose: () => {
                                    window.location.reload();
                                }
                            });
                        } else {
                            Swal.fire({
                                title: res.msg,
                                type: 'error',
                            });
                        }
                    }
                });
            }
        });
        return false;
    }
</script>