<!DOCTYPE html>
<html lang="zh">
<head>
    {include file="../application/common/view/web/head.html" title=" - 活动管理"}
</head>
<!-- begin::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
    <!-- BEGIN: Header -->
    {include file="../application/common/view/web/header.html"}
    <!-- END: Header -->
    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <!-- BEGIN: Left Aside -->
        {include file="../application/common/view/web/left.html"}
        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title m-subheader__title--separator">活动管理</h3>
                        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                            <li class="m-nav__item m-nav__item--home">
                                <a href="{:url('Index/index')}" class="m-nav__link m-nav__link--icon">
                                    <i class="m-nav__link-icon la la-home"></i>
                                </a>
                            </li>
                            <li class="m-nav__separator">-</li>
                            <li class="m-nav__item">
                                <a href="{:url('Activity/index')}" class="m-nav__link">
                                    <span class="m-nav__link-text">活动管理</span>
                                </a>
                            </li>
                            <li class="m-nav__separator">-</li>
                            <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                    <span class="m-nav__link-text">活动列表</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m-content">
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption"></div>
                        <div class="m-portlet__head-tools">
                            <form action="" method="get" class="form-inline ">
                                <div class="form-group mr-2">
                                    <select class="form-control form-control-sm" name="status">
                                        <option value="">使用状态</option>
                                        <option value="1">未使用</option>
                                        <option value="2">已使用</option>
                                    </select>
                                </div>
                                <div class="form-group mr-2">
                                    <select class="form-control form-control-sm" name="coupon_id">
                                        <option value="">指定优惠卷</option>
                                        {volist name="$couponList" id="vo"}
                                        <option value="{$vo.coupon_id}">{$vo.coupon_title}</option>
                                        {/volist}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-info btn-sm" value="搜索">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="dataTables_wrapper">
                            <table class="table table-striped- table-bordered table-hover table-checkable {empty name='$userCouponList'}noDataHeight-table{/empty}"
                                   id="m_table_1">
                                <thead>
                                <tr>
                                    <th class="text-center">优惠卷名称</th>
                                    <th class="text-center">领取用户名（ID）</th>
                                    <th class="text-center">使用状态</th>
                                    <th class="text-center">有效时间</th>
                                    <th class="text-center">领取时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="$userCouponList" id="vo"}
                                <tr class="">
                                    <td class="text-middle text-center">{$vo.coupon_title}</td>
                                    <td class="text-middle text-center">{$vo.user_name}（<a href="{:url('user/index',['user_id'=>$vo.log_user_id])}">{$vo.log_user_id}</a>）</td>
                                    <td class="text-middle text-center">
                                        {switch name="$vo.log_status"}
                                        {case value="1"}<span class="m-badge m-badge--success m-badge--wide">未使用</span>{/case}
                                        {case value="2"}<span class="m-badge m-badge--danger m-badge--wide">已使用</span>{/case}
                                        {/switch}
                                    </td>
                                    <td class="text-middle text-center">{$vo.log_valid_time}</td>
                                    <td class="text-middle text-center">{$vo.log_createTime}</td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                            <div class="noDataHeight">没有数据</div>
                            <div class="dataTables_pager">
                                <div class="dataTables_paginate paging_simple_numbers">{$userCouponList->render()}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Body -->
    <!-- begin::Footer -->
    {include file="../application/common/view/web/footer.html"}
    <!-- end::Footer -->
</div>
<!-- end:: Page -->
{include file="../application/common/view/web/foot.html"}
</body>
<!-- end::Body -->
</html>
<script>
    nav_url = "{:url('Activity/index')}";
    setValue('status','{$Think.get.status}');
    setValue('coupon_id','{$Think.get.coupon_id}');
</script>