<!DOCTYPE html>
<html lang="zh">
<head>
    {include file="../application/common/view/web/head.html" title=" - 设备管理"}
    <link rel="stylesheet" type="text/css" href="/resource/webUpload/webuploader.css">
    <script src="/resource/web/assets/app/js/toastr.js"></script>
</head>
<!-- begin::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
    <!-- BEGIN: Header -->
    {include file="../application/common/view/web/header.html"}
    <!-- END: Header -->
    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <!-- BEGIN: Left Aside -->
        {include file="../application/common/view/web/left.html"}
        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title m-subheader__title--separator">设备管理</h3>
                        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                            <li class="m-nav__item m-nav__item--home">
                                <a href="{:url('Index/index')}" class="m-nav__link m-nav__link--icon">
                                    <i class="m-nav__link-icon la la-home"></i>
                                </a>
                            </li>
                            <li class="m-nav__separator">-</li>
                            <li class="m-nav__item">
                                <a href="{:url('Replenish/index')}" class="m-nav__link">
                                    <span class="m-nav__link-text">设备管理</span>
                                </a>
                            </li>
                            <li class="m-nav__separator">-</li>
                            <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                    <span class="m-nav__link-text">机器列表</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m-content">
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">机器分配</h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <form class="m-form m-form--fit m-form--label-align-right" action="{:url('')}" method="post" id="form">
                            <div class="m-portlet__body">
                                <input type="hidden" name="machine_id" value="{$info.machine_id}">
                                <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                                    <thead>
                                        <tr>
                                            <th class="text-middle text-center">ID</th>
                                            <th class="text-middle text-center">加盟商名称</th>
                                            <th class="text-middle text-center">联系人</th>
                                            <th class="text-middle text-center">联系人电话</th>
                                            <th class="text-middle text-center">登录账号</th>
                                        </tr>
                                    </thead>
                                    <tbody id="machine_list">
                                    {volist name="$agentList" id="vo"}
                                    <tr>
                                        <td class="text-middle text-center">
                                            <label class="m-radio m-radio--solid m-radio--success mb-0">
                                                <input type="radio" name="agent_id" value="{$vo.agent_id}" {if condition="$vo.agent_id==$info.machine_agent_id"}checked{/if}>{$vo.agent_id}
                                                <span></span>
                                            </label>
                                        </td>
                                        <td class="text-middle text-center">{$vo.agent_name}</td>
                                        <td class="text-middle text-center">{$vo.agent_contacts}</td>
                                        <td class="text-middle text-center">{$vo.agent_mobile}</td>
                                        <td class="text-middle text-center">{$vo.agent_username}</td>
                                    </tr>
                                    {/volist}
                                    {if condition="!$agentList"} <tr><td colspan="3" class="noDataHeight">没有机器，请先创建机器</td></tr> {/if}
                                    </tbody>
                                </table>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions m-form__actions">
                                    <div class="row">
                                        <div class="col-lg-9 ml-lg-auto">
                                            <button type="button" id="sub" class="btn btn-info">确认并保存</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Body -->
    <!-- begin::Footer -->
    {include file="../application/common/view/web/footer.html"}
    <!-- end::Footer -->
</div>
<!-- end:: Page -->
{include file="../application/common/view/web/foot.html"}
</body>
<!-- end::Body -->
</html>
<script type="text/javascript" src="/resource/webUpload/webuploader.js"></script>
<script>
    nav_url = "{:url('machine/index')}";

    /**
     * 全选、全不选
     */
    $('input[name="checkall"]').on("click",function(){
        if($(this).is(':checked')){
            $('input[name="agent_id"]').prop("checked",true);
            // $('input[name="checkbox"]').each(function(){
            //     $(this).prop("checked",true);
            // });
        }else{
            $('input[name="agent_id"]').prop("checked",false);
            // $('input[name="checkbox"]').each(function(){
            //     $(this).prop("checked",false);
            // });
        }
    });

    $('#sub').click(function () {
        submit_form({
            url: '{:url("allocatingMachine")}',
            data: $('#form').serialize(),
            fun: function (res) {
                if(res.state == 200){
                    Swal.fire({
                        title: res.msg,
                        type:'success',
                        timer: 2000,
                        onClose: () => {
                            window.location.href = '{:url("index")}';
                        }
                    });
                }else{
                    Swal.fire({
                        title: res.msg,
                        type:'error',
                    });
                }
            }
        });
    });
</script>