<!DOCTYPE html>
<html lang="zh">
<head>
    {include file="../application/common/view/web/head.html" title=" - 设备管理"}
    <style>
        input[type=text].show-mch-no {
            border: none;
            background-color: transparent;
            width: 83px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    </style>
</head>
<!-- begin::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
    <!-- BEGIN: Header -->
    {include file="../application/common/view/web/header.html"}
    <!-- END: Header -->
    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <!-- BEGIN: Left Aside -->
        {include file="../application/common/view/web/left.html"}
        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title m-subheader__title--separator">设备管理</h3>
                        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                            <li class="m-nav__item m-nav__item--home">
                                <a href="{:url('Index/index')}" class="m-nav__link m-nav__link--icon">
                                    <i class="m-nav__link-icon la la-home"></i>
                                </a>
                            </li>
                            <li class="m-nav__separator">-</li>
                            <li class="m-nav__item">
                                <a href="{:url('Machine/index')}" class="m-nav__link">
                                    <span class="m-nav__link-text">设备管理</span>
                                </a>
                            </li>
                            <li class="m-nav__separator">-</li>
                            <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                    <span class="m-nav__link-text">设备列表</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m-content">
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <a href="{:url('createMachine')}" class="btn btn-info m-btn m-btn--icon m-btn--wide m-btn--sm m--margin-right-10">
                                <span>
                                    <i class="fa fa-plus"></i>
                                    <span>添加设备</span>
                                </span>
                            </a>
                        </div>
                        <div class="m-portlet__head-tools">
                            <form action="{:url('index')}" method="get" class="form-inline">
                                <div class="form-group mr-2">
                                    <input type="text" class="form-control form-control-sm" name="code" placeholder="设备号">
                                </div>
                                <div class="form-group mr-2">
                                    <select class="form-control form-control-sm" name="agent_name">
                                        <option value="">选择加盟商</option>
                                        {volist name="agentList" id="vo"}
                                        <option value="{$vo.agent_id}">{$vo.agent_name}</option>
                                        {/volist}
                                    </select>
                                </div>
                                <div class="form-group mr-2">
                                    <input type="text" class="form-control form-control-sm" name="address" placeholder="投放地址">
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-info btn-sm" name="supplier_mobile" value="搜索">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="dataTables_wrapper">
                            <table class="table table-striped- table-bordered table-hover table-checkable {empty name='$machine_list'}noDataHeight-table{/empty}"
                                   id="m_table_1">
                                <thead>
                                <tr>
                                    <th class="text-center">设备ID</th>
                                    <th class="text-center">设备名称</th>
                                    <th class="text-center">设备号</th>
                                    <th class="text-center">设备加盟商</th>
                                    <th class="text-center">设备投放地址</th>
                                    <th class="text-center">设备状态</th>
                                    <th class="text-center">在线状态</th>
                                    <th class="text-center">设备创建时间</th>
                                    <th class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="machine_list" id="vo"}
                                <tr>
                                    <td class="text-middle text-center">{$vo.machine_id}</td>
                                    <td class="text-middle text-center">{$vo.machine_name}</td>
                                    <td class="text-middle text-center">{$vo.machine_code}</td>
                                    <td class="text-middle text-center">{$vo.agent_name|default='暂无'}</td>
                                    <td class="text-middle text-center">{$vo.machine_address}</td>
                                    <td class="text-middle text-center">
                                        {switch name='vo.machine_status'}
                                        {case value="1"}<span class="m-badge  m-badge--success m-badge--wide">使用中</span> {/case}
                                        {case value="2"}<span class="m-badge  m-badge--metal m-badge--wide">禁用中</span>  {/case}
                                        {/switch}
                                    </td>
                                    <td class="text-middle text-center">
                                        {switch name='vo.machine_online'}
                                        {case value="1"}<span class="m-badge  m-badge--success m-badge--wide">在线</span> {/case}
                                        {case value="2"}<span class="m-badge  m-badge--metal m-badge--wide">离线</span>  {/case}
                                        {/switch}
                                    </td>
                                    <td class="text-middle text-center">{$vo.machine_createTime}</td>
                                    <td class="text-middle text-center" nowrap="">
                                        <span class="dropdown">
                                            <a href="#" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="false">
                                              <i class="la la-ellipsis-h"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="{:url('machineChannel',['machine_id'=>$vo['machine_id']])}"><i class="fa fa-list-alt"></i> 货道详情</a>
                                                <a class="dropdown-item" href="{:url('allocatingmachine',['machine_id'=>$vo['machine_id']])}"><i class="fa fa-list-alt"></i> 分配机器</a>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                            <div class="noDataHeight">没有数据</div>
                            <div class="dataTables_pager">
                                <div class="dataTables_paginate paging_simple_numbers">{$machine_list->render()}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Body -->
    <!-- begin::Footer -->
    {include file="../application/common/view/web/footer.html"}
    <!-- end::Footer -->
</div>
<!-- end:: Page -->
{include file="../application/common/view/web/foot.html"}
</body>
<!-- end::Body -->
</html>
<script>
    nav_url = "{:url('Machine/index')}";

    setValue('code','{$Think.get.code}');
    setValue('agent_name','{$Think.get.agent_name}');
    setValue('address','{$Think.get.address}');
</script>