<!doctype html>
<html lang="zh">
<head>
    {include file="common/head" title="- 设备管理"/}
    <style>
        table tr th{
            text-align: center;
        }
        .showQrWrap{
            position: fixed;
            display: none;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            line-height: 100%;
            z-index: 1100;
            background-color: rgba(0,0,0,0.5);
            text-align: center;
        }
        .showQrWrap img{
            width: 25%;
            padding-top: 10%;
        }
    </style>
</head>
<body data-type="widgets">
    <div class="tpl-page-container tpl-page-header-fixed">
        {include file="common/header"/}
        {include file="common/left"/}
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">设备管理</div>
            <ol class="am-breadcrumb">
                <li><a href="{:url('index/index')}" class="am-icon-home">首页</a></li>
                <li><a href="{:url('index')}" class="am-icon-sitemap">设备管理</a></li>
                <li class="am-active">设备列表</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="tpl-block">
                    <div class="am-g portlet-title">
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a href="{:url('create_machine')}"><button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 创建设备</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-9">
                            <form action="{:url('')}" method="get" id="search_form" class="list-search">
                                <div class="am-g doc-am-g">
                                    <div class="am-u-sm-6 am-u-md-6 am-u-lg-2 am-input-group-primary">
                                        <input type="text" name="code" id="code" class="am-form-field"  value="{$Think.get.code}" placeholder="设备序列号">
                                    </div>
                                    <div class="am-u-sm-6 am-u-md-6 am-u-lg-2 am-input-group-primary">
                                        <input type="text" name="address" id="address" class="am-form-field" value="{$Think.get.address}"  placeholder="设备地址">
                                    </div>
                                    <div class="am-u-sm-6 am-u-md-6 am-u-lg-2">
                                        <select data-am-selected="{btnWidth: '100%', btnSize: 'md'}" id="agent" name="agent">
                                            <option value="0">加盟商</option>
                                            {volist name="$agent_list" id="vo"}
                                            <option value="{$vo.agent_id}" {if condition="$Think.get.agent_id == $vo.agent_id"}selected{/if}>{$vo.agent_name}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                    <div class="am-u-sm-6 am-u-md-6 am-u-lg-2">
                                        <select data-am-selected="{btnWidth: '100%', btnSize: 'md'}" id="status" name="status">
                                            <option value="0">状态</option>
                                            <option value="1" {if condition="$Think.get.status == 1"}selected{/if}>使用中</option>
                                            <option value="2" {if condition="$Think.get.status == 2"}selected{/if}>已禁用</option>
                                        </select>
                                    </div>
                                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-2">
                                        <ul class="actions-btn">
                                            <li class="blue-on" id="search">搜索</li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main" id="example-r">
                                    <thead>
                                    <tr>
                                        <th ><input type="checkbox" id="checkbox_all" class="tpl-table-fz-check"></th>
                                        <th >设备ID</th>
                                        <th >设备名称</th>
                                        <th >设备序列号</th>
                                        <th >设备二维码</th>
                                        <th >品牌方</th>
                                        <th >补货员</th>
                                        <th >设备状态</th>
                                        <th >是否在线</th>
                                        <th >操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="machine_list" id="m"}
                                    <tr>
                                        <td class="am-text-middle am-text-center"><input type="checkbox" value="{$m.machine_id}"></td>
                                        <td class="am-text-middle">{$m.machine_id}</td>
                                        <td class="am-text-middle">{$m.machine_name}</td>
                                        <td class="am-text-middle am-text-center">{$m.machine_code}</td>
                                        <td class="am-text-middle am-text-center"><img data-img="{$m.machine_qr_file}" class="showQr" src="{$m.machine_qr_file}" alt="--" width="60" height="60"></td>
                                        <td class="am-text-middle">{if condition="$m.machine_agent_id == -1"}主平台{else}{$m.agent_name}{/if}</td>
                                        <td class="am-text-middle am-text-center">{$m.rep_name|default="/"}</td>
                                        <td class="am-text-middle am-text-center">
                                            {switch name="m.machine_status"}
                                            {case value="1"}<span style="color: #19a97b">正在使用</span>{/case}
                                            {case value="2"}<span style="color: #666">已禁用</span>{/case}
                                            {/switch}
                                        </td>
                                        <td class="am-text-middle am-text-center">
                                            {switch name="$m.machine_online"}
                                            {case value="1"}<span style="color: #19a97b">在线</span>{/case}
                                            {case value="2"}<span style="color: red;">离线</span>{/case}
                                            {/switch}
                                        </td>
                                        <td class="am-text-middle">
                                            <div class="am-btn-toolbar">
                                                <div class="am-btn-group am-btn-group-xs">
                                                    <a href="{:url('machine_channel',['machine_id'=>$m['machine_id']])}"
                                                       class="am-btn am-btn-success am-btn-xs  am-btn-xs">
                                                        <span class="am-icon-futbol-o"></span> 货道管理
                                                    </a>
                                                    <a href="{:url('machine_details',['machine_id'=>$m['machine_id']])}"
                                                       class="am-btn am-btn-default am-btn-xs  am-btn-xs">
                                                        <span class="am-icon-book"></span> 详情
                                                    </a>
                                                    <a href="{:url('edit_machine',['machine_id'=>$m['machine_id']])}"
                                                       class="am-btn am-btn-secondary am-btn-xs  am-btn-xs">
                                                        <span class="am-icon-pencil-square-o"></span> 编辑
                                                    </a>
                                                    {switch name="m.machine_status"}
                                                    {case value="1"}
                                                    <a href="{:url('disabled_machine',['machine_id'=>$m['machine_id']])}"
                                                       class="am-btn am-btn-warning am-btn-xs ">
                                                        <span class="am-icon-ban"></span> 禁用
                                                    </a>
                                                    {/case}
                                                    {case value="2"}
                                                    <a href="{:url('enabled_machine',['machine_id'=>$m['machine_id']])}"
                                                       class="am-btn am-btn-primary am-btn-xs ">
                                                        <span class="am-icon-check"></span> 启用
                                                    </a>
                                                    <a href="{:url('del_machine',['machine_id'=>$m['machine_id']])}"
                                                       class="am-btn am-btn-danger am-btn-xs ">
                                                        <span class="am-icon-trash-o"></span> 删除
                                                    </a>
                                                    {/case}
                                                    {/switch}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                                <hr>
                                <div class="am-cf">
                                    <div class="am-fr">
                                        {$machine_list->render()|raw}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="showQrWrap">
            <img src="">
        </div>
    </div>
    {include file="common/footer"/}
</body>
</html>
<script>
    $("#status").val("{$status}");
    $("#agent").val("{$agent}");
    $(".showQr").on("click",function(){
        var _img =$(this).data('img');
        console.log(_img);
        $(".showQrWrap").fadeIn();
        $(".showQrWrap").find('img').attr("src",_img);
    });
    $(".showQrWrap").on("click",function(){
        $(this).fadeOut();
    })
    $("#search").click(function () {
        $("#search_form").submit();
    });

    /**
     * 批量设置设备加盟商
     */
    $(".set_machine_agent").click(function () {
        if(get_check_id() == ''){
            swal("请选择设备","","error");
            return false;
        }
        $("#machine_id").val(get_check_id());
        console.log("check",get_check_id());
    });

    /**
     * 批量设置设备供货人
     */
    $(".set_machine_supplier").click(function () {
        if(get_check_id() == ''){
            swal("请选择设备","","error");
            return false;
        }
        $("#supplier_machine_id").val(get_check_id());
        console.log("check",get_check_id());
    });


    $("button#sub").click(function () {
        $("#set_machine_agent").submit();
    })

    $("button#supplier_sub").click(function () {
        $("#set_machine_supplier").submit();
    })

    $(":checkbox").on("change", function () {
        var $checkbox = $(this);
        if ($checkbox.attr("id") == "checkbox_all") {
            if ($checkbox.is(':checked') == true) {
                $(":checkbox").prop("checked", true);
            } else {
                $(":checkbox").prop("checked", false);
            }
        } else {
            if ($checkbox.is(':checked') == false) {
                $("#checkbox_all").prop("checked", false);
            }
        }
    });
    //获取checkbox内容
    function get_check_id() {
        var str = [];
        $(":checkbox").each(function () {
            if ($(this).attr("id") != "checkbox_all" && $(this).is(':checked') == true) {
                str.push($(this).val())
            }
        });
        return str.toString();
    }
</script>