<!DOCTYPE html>
<html lang="zh">
<head>
    {include file="../application/common/view/web/head.html" title=" - 设备管理"}
    <style>
        input[type=text].show-mch-no {
            border: none;
            background-color: transparent;
            width: 83px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    </style>
</head>
<!-- begin::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
    <!-- BEGIN: Header -->
    {include file="../application/common/view/web/header.html"}
    <!-- END: Header -->
    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <!-- BEGIN: Left Aside -->
        {include file="../application/common/view/web/left.html"}
        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title m-subheader__title--separator">设备管理</h3>
                        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                            <li class="m-nav__item m-nav__item--home">
                                <a href="{:url('Index/index')}" class="m-nav__link m-nav__link--icon">
                                    <i class="m-nav__link-icon la la-home"></i>
                                </a>
                            </li>
                            <li class="m-nav__separator">-</li>
                            <li class="m-nav__item">
                                <a href="{:url('Machine/index')}" class="m-nav__link">
                                    <span class="m-nav__link-text">设备管理</span>
                                </a>
                            </li>
                            <li class="m-nav__separator">-</li>
                            <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                    <span class="m-nav__link-text">设备货道列表</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m-content">
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">{$machine.machine_name} 货道列表</h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="dataTables_wrapper">
                            <table class="table table-striped- table-bordered table-hover table-checkable {empty name='$channel_list'}noDataHeight-table{/empty}"
                                   id="m_table_1">
                                <thead>
                                <tr>
                                    <th class="text-center">货道编号</th>
                                    <th class="text-center">货道名称</th>
                                    <th class="text-center">货道商品</th>
                                    <th class="text-center">商品库存(个)</th>
                                    <th class="text-center">商品容量(个)</th>
                                    <th class="text-center">缺货数量(个)</th>
                                    <th class="text-center">商品价格（元/个）</th>
                                    <th class="text-center">货道状态</th>
                                    <th class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="channel_list" id="vo"}
                                <tr>
                                    <td class="text-center">{$vo.channel_name}</td>
                                    <td class="text-center">{$vo.channel_title}</td>
                                    <td class="text-center">
                                        {if condition="$vo.channel_goods_id neq 0"}
                                            <img src="{$vo.goods_pic}" width="40" height="40"/>{$vo.goods_name}
                                        {else /}
                                            未设置
                                        {/if}

                                    </td>
                                    <td class="text-center">{$vo.channel_stock}</td>
                                    <td class="text-center">{$vo.channel_capacity}</td>
                                    <td class="text-center">{$vo.channel_outStock}</td>
                                    <td class="text-center">{$vo.channel_price}</td>
                                    <td class="text-center">
                                        {switch name='vo.channel_status'}
                                            {case value="1"}<span class="m-badge  m-badge--success m-badge--wide">已启用</span> {/case}
                                            {case value="2"}<span class="m-badge  m-badge--metal m-badge--wide">已禁用</span>  {/case}
                                        {/switch}
                                    </td>
                                    <td class="text-center">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <a href="javascript:void(0);" onclick="editChannel(this)" data-toggle="modal" data-target="#channelDetail"
                                                   data-channel_name="{$vo.channel_name}" data-channel_title="{$vo.channel_title}"
                                                   data-channel_goods_id="{$vo.channel_goods_id}" data-channel_stock="{$vo.channel_stock}"
                                                   data-channel_capacity="{$vo.channel_capacity}" data-channel_status="{$vo.channel_status}"
                                                   data-goods_price="{$vo.goods_price}" data-channel_id="{$vo.channel_id}" data-channel_price="{$vo.channel_price}"
                                                   class="btn btn-info m-btn m-btn--custom btn-sm">
                                                    <span class="am-icon-pencil-square-o"></span> 编辑
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                            <div class="noDataHeight">没有数据</div>
                            <div class="dataTables_pager">
                                <div class="dataTables_paginate paging_simple_numbers">{$channel_list->render()}</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal fade" id="channelDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"> 货道编辑 </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <form class="m-form m-form--fit m-form--label-align-right" action="{:url('editChannel')}"
                                  method="post">
                                <input type="hidden" name="channel_id">
                                <input type="hidden" name="machine_id">
                                <div class="modal-body">
                                    <div class="m-portlet__body">
                                        <div class="form-group m-form__group">
                                            <label>货道名称：</label>
                                            <input type="text" class="form-control m-input m-input--solid"
                                                   name="channel_title" disabled>
                                        </div>
                                        <div class="form-group m-form__group">
                                            <label>货道编号</label>
                                            <input type="text" class="form-control m-input m-input--solid"
                                                   name="channel_name" disabled>
                                        </div>
                                        <div class="form-group m-form__group">
                                            <label for="goods_name">商品：</label>
                                            <select class="form-control m-input m-input--solid" name="channel_goods_id"
                                                    id="goods_name">
                                                {volist name="goods_list" id="goods"}
                                                <option value="{$goods.goods_id}" pmoeny="{$goods.goods_price}">
                                                    {$goods.goods_name}【{$goods.goods_price}元/个】
                                                </option>
                                                {/volist}
                                            </select>
                                        </div>
                                        <div class="form-group m-form__group">
                                            <label>商品建议价(元/个)：</label>
                                            <input type="text" class="form-control m-input m-input--solid"
                                                   id="goods_suggest_price" required>
                                        </div>
                                        <div class="form-group m-form__group">
                                            <label>商品售价(元/个)：</label>
                                            <input type="text" class="form-control m-input m-input--solid"
                                                   name="channel_price" required>
                                        </div>
                                        <div class="form-group m-form__group">
                                            <label>商品数量：</label>
                                            <input type="text" class="form-control m-input m-input--solid"
                                                   name="channel_stock" required>
                                        </div>
                                        <div class="form-group m-form__group">
                                            <label>货道容量：</label>
                                            <input type="text" class="form-control m-input m-input--solid"
                                                   name="channel_capacity" required>
                                        </div>
                                        <div class="form-group m-form__group">
                                            <label for="channel_status">货道状态：</label>
                                            <select class="form-control m-input m-input--solid" name="channel_status"
                                                    id="channel_status" required>
                                                <option value="1">启用</option>
                                                <option value="2">禁用</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-info">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Body -->
    <!-- begin::Footer -->
    {include file="../application/common/view/web/footer.html"}
    <!-- end::Footer -->
</div>
<!-- end:: Page -->
{include file="../application/common/view/web/foot.html"}
<script>
    nav_url = "{:url('Machine/index')}";
    $(function () {
        $("#goods_name").change(function () {
            var checkVal = $("#goods_name").find("option:selected").attr('pmoeny')
            $("#goods_suggest_price").val(checkVal);
            // console.log("checkVal",$("#goods_name").find("option:selected").attr('pmoeny'));
        });
    });

    function editChannel(node) {
        var channel_name = $(node).data('channel_name');
        var channel_title = $(node).data('channel_title');
        var channel_goods_id = $(node).data('channel_goods_id');
        var channel_stock = $(node).data('channel_stock');
        var channel_capacity = $(node).data('channel_capacity');
        var channel_status = $(node).data('channel_status');
        var goods_price = $(node).data('goods_price');
        var channel_id = $(node).data('channel_id');
        var channel_price = $(node).data('channel_price');

        $("input[name='channel_id']").val(channel_id);
        $("input:text[name='channel_name']").val(channel_name);
        $("input:text[name='channel_title']").val(channel_title);
        $("select[name='channel_goods_id']").val(channel_goods_id);
        $("input:text[name='channel_stock']").val(channel_stock);
        $("input:text[name='channel_capacity']").val(channel_capacity);
        $("select[name='channel_status']").val(channel_status);
        $("input:text[name='channel_price']").val(channel_price);
        $("#goods_suggest_price").val(goods_price);
        $("input[name='machine_id']").val('{$machine_id}');
        // console.log("channel_goods_id",channel_goods_id);
    }
</script>
</body>
<!-- end::Body -->
</html>