<meta charset="utf-8" />
<title>Metronic | Dashboard</title>
<meta name="description" content="Latest updates and statistic charts">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

<!--begin::Web font -->
<script src="../../../cdn.bootcss.com/webfont/1.6.16/webfontloader.js" tppabs="https://cdn.bootcss.com/webfont/1.6.16/webfontloader.js"></script>
<script>
    WebFont.load({
        google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
        active: function() {
            sessionStorage.fonts = true;
        }
    });
</script>

<!--end::Web font -->

<!--begin::Global Theme Styles -->
<link href="/resource/web/assets/vendors/base/vendors.bundle.css" tppabs="http://metronic.net.cn/dist/default/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />

<!--RTL version:<link href="assets/vendors/base/vendors.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
<link href="/resource/web/assets/demo/default/base/style.bundle.css" tppabs="http://metronic.net.cn/dist/default/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />

<!--RTL version:<link href="assets/demo/default/base/style.bundle.rtl.css" rel="stylesheet" type="text/css" />-->

<!--end::Global Theme Styles -->

<!--end::Page Vendors Styles -->
<link rel="shortcut icon" href="/resource/web/assets/demo/default/media/img/logo/favicon.ico" />