<!DOCTYPE html>
<html lang="zh">
<head>
    {include file="../application/common/view/web/head.html" title=" - 广告管理"}
    <style>
        input[type=text].show-mch-no {
            border: none;
            background-color: transparent;
            width: 83px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    </style>
</head>
<!-- begin::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
    <!-- BEGIN: Header -->
    {include file="../application/common/view/web/header.html"}
    <!-- END: Header -->
    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <!-- BEGIN: Left Aside -->
        {include file="../application/common/view/web/left.html"}
        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title m-subheader__title--separator">广告管理</h3>
                        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                            <li class="m-nav__item m-nav__item--home">
                                <a href="{:url('Index/index')}" class="m-nav__link m-nav__link--icon">
                                    <i class="m-nav__link-icon la la-home"></i>
                                </a>
                            </li>
                            <li class="m-nav__separator">-</li>
                            <li class="m-nav__item">
                                <a href="{:url('Adver/index')}" class="m-nav__link">
                                    <span class="m-nav__link-text">广告管理</span>
                                </a>
                            </li>
                            <li class="m-nav__separator">-</li>
                            <li class="m-nav__item">
                                <a href="{:url('Advertising/index')}" class="m-nav__link">
                                    <span class="m-nav__link-text">投放列表</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m-content">
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-tools">
                            <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
                                <li class="m-portlet__nav-item">
                                    <a href="{:url('advertising/putAdver')}" class="btn btn-info m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                                        <span><i class="la la-plus"></i><span>广告投放</span></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <form class="m-form m-form--fit m--margin-bottom-20" action="{:url('index')}" method="get">
                            <div class="row m--margin-bottom-20">
                                <div class="col-lg-3 m--margin-bottom-10-tablet-and-mobile">
                                    <label>设备号:</label>
                                    <input type="text" class="form-control m-input" name="code" value="{$code}"  placeholder="设备号">
                                </div>
                            </div>
                            <div class="m-separator m-separator--md m-separator--dashed"></div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button class="btn btn-brand m-btn m-btn--icon" id="m_search">
												<span>
													<i class="la la-search"></i>
													<span>搜索</span>
												</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="dataTables_wrapper">
                            <table class="table table-striped- table-bordered table-hover table-checkable"
                                   id="m_table_1">
                                <thead>
                                <tr>
                                    <th class="text-center">投放序号</th>
                                    <th class="text-center">素材名称</th>
                                    <th class="text-center">设备名称</th>
                                    <th class="text-center">设备号</th>
                                    <th class="text-center">投放机器类型</th>
                                    <th class="text-center">开始时间</th>
                                    <th class="text-center">结束时间</th>
                                    <th class="text-center">状态</th>
                                    <th class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="putAdverList" id="put"}
                                <tr>
                                    <td class="text-center">{$put.put_id}</td>
                                    <td class="text-center">{$put.resource_name}</td>
                                    <td class="text-center">{$put.machine_name}</td>
                                    <td class="text-center">{$put.machine_code}</td>
                                    <td class="text-center">{switch name='put.put_type'}
                                        {case value="1"}<span class="m-badge  m-badge--success m-badge--wide">不分屏</span> {/case}
                                        {case value="2"}<span class="m-badge  m-badge--metal m-badge--wide">分屏</span>  {/case}
                                        {/switch}</td>
                                    <td class="text-center">{$put.put_start_datetime}</td>
                                    <td class="text-center">{$put.put_end_datetime}</td>
                                    <td class="text-center" id="status_{$put.put_id}"> {switch name='$put.put_status'}
                                        {case value="1"}<span class="m-badge  m-badge--info m-badge--wide">未开始</span> {/case}
                                        {case value="2"}<span class="m-badge  m-badge--success m-badge--wide">已进行</span>  {/case}
                                        {case value="3"}<span class="m-badge  m-badge--metal m-badge--wide">已下架</span> {/case}
                                        {case value="4"}<span class="m-badge  m-badge--danger m-badge--wide">已完成</span>  {/case}
                                        {/switch}
                                    </td>
                                    <td class="text-center">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                {switch name='$put.put_status'}
                                                {case value="1"}<a href="javascript:void(0);" onclick="changeStatus(this,'{$put.put_id}',1)"
                                                                   class="btn btn-brand m-btn--wide btn-sm"><span class="am-icon-pencil-square-o"></span> 下架 </a>{/case}
                                                {case value="2"}<a href="javascript:void(0);" onclick="changeStatus(this,'{$put.put_id}',1)"
                                                                   class="btn btn-brand m-btn--wide btn-sm"><span class="am-icon-pencil-square-o"></span> 下架 </a> {/case}
                                                {case value="3"}<a href="javascript:void(0);" onclick="changeStatus(this,'{$put.put_id}',2)"
                                                                   class="btn btn-info m-btn--wide btn-sm"><span class="am-icon-pencil-square-o"></span> 上架 </a> {/case}
                                                {/switch}

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                            <div class="dataTables_pager">
                                <div class="dataTables_paginate paging_simple_numbers">{$putAdverList->render()}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Body -->
    <!-- begin::Footer -->
    {include file="../application/common/view/web/footer.html"}
    <!-- end::Footer -->
</div>
<!-- end:: Page -->
{include file="../application/common/view/web/foot.html"}
<script>
    nav_url = "{:url('advertising/index')}";
    function changeStatus(node,id,type) {
        //type 1:下架 2:上架
        var nextNode = $(node).parents('td').prev();
        var parentNode = $(node).parent();
        var updateText = '';
        if(type==1){
            var title = '下架投放广告';
            var text = '确定下架投放序号为 “'+id+'” 的投放广告？';
            var errorText = '下架投放广告失败，网络异常';
            var cancelText = '已取消下架素材';
            var newNode = '<a href="javascript:void(0);" onclick="changeStatus(this,'+id+',2)" class="btn btn-info m-btn--wide btn-sm"><span class="am-icon-pencil-square-o"></span> 上架 </a>';
        }else{
            var title = '上架投放广告';
            var text = '确定上架投放序号为 "'+name+'"的投放广告？';
            var errorText = '上架投放广告失败，网络异常';
            var cancelText = '已取消上架素材';
            var newNode = '<a href="javascript:void(0);" onclick="changeStatus(this,'+id+',1)" class="btn btn-brand m-btn--wide btn-sm"><span class="am-icon-pencil-square-o"></span> 下架 </a>';
        }
        Swal.fire({
            title: title,
            text: text,
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '确定',
            cancelButtonText: '取消',
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url:"{:url('changeStatus')}",
                    type:"POST",
                    data:{id:id,type:type},
                    success:function (resData) {
                        if(resData["state"] == 200){
                            var nowType = parseInt(resData['data']);
                            switch (nowType) {
                                case 1:
                                    updateText = '<span class="m-badge  m-badge--info m-badge--wide">未开始</span>';
                                    break;
                                case 2:
                                    updateText = '<span class="m-badge  m-badge--success m-badge--wide">已进行</span>';
                                    break;
                                case 3:
                                    updateText = '<span class="m-badge m-badge--metal m-badge--wide">已下架</span>';
                                    break;
                                case 4:
                                    updateText = '<span class="m-badge  m-badge--danger m-badge--wide">已完成</span>';
                                    newNode = '';
                                    break;
                            }
                            parentNode.empty();
                            parentNode.append(newNode);
                            console.log('nextNode',nextNode);
                            $("#status_"+id).empty();
                            $("#status_"+id).append(updateText);
                            toastr.success(resData["msg"]);
                        }else{
                            toastr.warning(resData["msg"]);
                        }
                    },error:function (error) {
                        toastr.warning(errorText);
                    }
                });
            }else{
                toastr.info(cancelText);
            }
        });
    }
    function Resource(node,id,name,type) {
        var nextNode = $(node).next('a');
        var oldNode = nextNode.parent();
        if(type==1){
            var title = '下架素材';
            var text = '确定下架 “'+name+'” 素材？';
            var errorText = '下架素材失败，网络异常';
            var cancelText = '已取消下架素材';
            var updateText = '素材状态 : <span class="m-widget5__info-date m--font-danger">已下架</span>';
            var newNode = '<a class="dropdown-item" href="javascript:void(0);"  onclick="Resource(this,'+id+',\''+name+'\',2);"><i class="flaticon-download"></i> 上架素材 </a>';
        }else{
            var title = '上架素材';
            var text = '确定上架 "'+name+'" 素材？';
            var errorText = '上架素材失败，网络异常';
            var cancelText = '已取消上架素材';
            var updateText = '素材状态 : <span class="m-widget5__info-date m--font-success">使用中</span>';
            var newNode = '<a class="dropdown-item" href="javascript:void(0);" onclick="Resource(this,'+id+',\''+name+'\',1);"><i class="flaticon-download"></i> 下架素材 </a>';
        }
        Swal.fire({
            title: title,
            text: text,
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '确定',
            cancelButtonText: '取消',
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url:"{:url('resource')}",
                    type:"POST",
                    data:{id:id,type:type},
                    success:function (resData) {
                        if(resData["state"] == 200){
                            // console.log("status",oldNode);
                            // node.text(updateText);
                            // oldNode.removeChild(node);
                            $(node).remove();
                            $("#resourceStatus_"+id).empty();
                            $("#resourceStatus_"+id).append(updateText);
                            nextNode.before(newNode);
                            toastr.success(resData["msg"]);
                        }else{
                            toastr.warning(resData["msg"]);
                        }
                    },error:function (error) {
                        toastr.warning(errorText);
                    }
                });
            }else{
                toastr.info(cancelText);
            }
        })
    }
</script>
</body>
<!-- end::Body -->
</html>